{% extends "base.html" %}

{% block content %}
    <h1>设置游戏</h1>
    <form action="" method="post" novalidate>
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <p>
            {{ form.template.label }}<br>
            <p id="template-desc"></p>
            {{ form.template }}<br>
            {% for error in form.template.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    
    <script>
        $(document).ready(function(){
            var template_id = $( "#template option:selected" ).val()
            $.ajax({
                type: "GET",
                url: "/template/" + template_id,
                success: function(response) {
                    $("#template-desc").text(response.description)
                }
            });
        });
        $("select[name='template']").change(function(){
            var template_id = $( "#template option:selected" ).val()
            $.ajax({
                type: "GET",
                url: "/template/" + template_id,
                success: function(response) {
                    $("#template-desc").text(response.description)
                }
            });
        })
    </script>
{% endblock %}