:root {
    --logoRed: #5b181a;
    --darkRed: #78191c;
    --clickable: #ff8299;
}

body {
    font-family: 'Noto Sans SC', sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

#header {
    padding-top: 10vw;
    align-content: center;
    text-align: center;
}

.logo {
    width: 150px;
}

.banner {
    background-color: var(--darkRed);
    padding: 10px 0 8px 0;
    margin: 5px 0;
}

.bannertext {
    color: white;
}

.highlight {
    font-weight: 600;
    color: var(--darkRed);
}

.chinesecursive {
    font-family: 'Ma Shan Zheng', cursive;
    font-size: 24px;
    line-height: 24px;
}

p {
    margin: 0px;
}

a {
    color: var(--clickable);
    border-bottom: 1px solid currentColor; 
    text-decoration: none;
}

table {
    align-content: center;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#player-status {
    display: flex;
    align-items: center;
    justify-content: center;
}

#vote-results {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100px;
    height: 100px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  
  .navbar {
    text-align: center;
  }