{% extends "base.html" %}

{% block content %}
<h2>角色介绍</h2>

<div class="container-fluid">
    <div class="row">
        {% for c in characters %}
        <a href="{{ 'character_page/' + c['名字']|string }}">
            <div class="col-md-3">
                    <img id="logo-unknown-{{c.id|string}}" class="character-img border"
                    src="{{url_for('static', filename='character_logo/' + c['名字'] + '.png')}}"
                    width=128 height=128>
            <p>{{c['名字']}}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>


{% endblock %}