{% extends "base.html" %}

{% block content %}
<h2>角色介绍</h2>

<div class="container">
    <div class="row">
        <div class="col-lg">
            <img class="character-img border" id="character-logo"
            src="{{url_for('static', filename='character_logo/' + character.name + '.png')}}"
            width=256 height=256>
        </div>
    
    <div class="col-lg">
        <h4>{{character.name}}</h4>
        <p>
            {% for s in character.camp %}
            {{s}} 
            {% endfor %}
        </p>
        {% if character.skills %}
        {% for s in character.skills %}
        <p>【</span>{{s.name}}</span>】  {{s.introduction}}</p>
        {% endfor %}
        {% endif %}
        <br>
        {% if character.backgroud_story %}
        <p></span id='line-note'>{{character.backgroud_story}}</span></p>
        {% endif %}
        <br>
        {% if character.note %}
        <p></span id='span-note'>{{character.note}}</span></p>
        {% endif %}
    </div>
    </div>
    
</div>
    
    

{% endblock %}