<html>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <head>
    <!--JS-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!--css style-->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    {% if title %}
    <title>{{ title }} - 烂柯游艺社</title>
    {% else %}
    <title>烂柯游艺社</title>
    {% endif %}

</head>

<body>
    <div id="header">
        <img class="logo" src="{{url_for('static', filename='logo.png')}}">
        <div class="banner">
            <p>
                <span class="chinesecursive bannertext">烂柯游艺社<br></span>
                <span class="bannertext">Harvard Board Games Club</span>
            </p>
        </div>
        <hr>
        烂柯游艺社:
        <a href="{{ url_for('index') }}">首页</a>
        <a href="{{ url_for('characters') }}">角色</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">登录</a>
        <p>新用户？ <a href="{{ url_for('register') }}">点击注册</a></p>
        {% else %}
        <a href="{{ url_for('logout') }}">登出</a>
        <p> 登录为 {{ current_user.username }}　</p>
        {% endif %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
        
    </body>
</html>