<html>
    <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!--css style-->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    {% if title %}
    <title>{{ title }} - 烂柯桌游社</title>
    {% else %}
    <title>烂柯桌游社</title>
    {% endif %}

</head>

<body>
    <div id="header">
        <img class="logo" src="{{url_for('static', filename='logo.png')}}">
        <div class="banner">
            <p>
                <span class="chinesecursive bannertext">烂柯桌游社<br></span>
                <span class="bannertext">Harvard Boardgames Club</span>
            </p>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
        
    </body>
</html>