{% extends "base.html" %}

{% block content %}
    <h1>你好 {{ current_user.username }}!</h1>
    <p>请选择你的行动</p>
    <form action="" method="post">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <p>
            {{ form.room_id.label }}<br>
            {{ form.room_id }}<br>
            {% for error in form.room_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.enter_game() }}</p>
        <p>{{ form.create_game() }}</p>
    </form>
{% endblock %}