{% extends "base.html" %}

{% block page_content %}
    <div class="container">
        <div class="row">
            <img src="{{url_for('static', filename='logo.png')}}" width=256>
        </div>
        <div class="row">
            <h2>烂柯游艺社</h2>
            <p>烂柯游艺社，北美最专业的狼人杀社团。</p>
            <p>本社于2019年3月创立于哈佛大学，至今已举办了三届“金狼杯”狼人杀联赛赛，参与活动人数破百。本社起源于美东波士顿线下活动，现通过线上Zoom狼人杀，连接了北美各个地区和国内的各路狼人杀爱好者。</p>
            <p>烂柯的名字出自南朝梁任昉《述异记》：晋代王质观战围棋，流连忘返，以至于斧子柄都烂掉了。烂柯游艺社取名于此，希望我们的狼人杀活动也能让大家沉醉其中，放松身心，我们也将为全球的狼人杀爱好者带来更多的惊喜与欢乐。</p>
        </div>
    
        <div class="row">
            <h3>关注我们:</h3>
            <div class="col-lg-4">
                <h4>微信公众号：烂柯游艺社</h4>
                <img class="wechat-img border" src="static/images/lanke_wechat.jpg" width=256 height=256>
            </div>
            <div class="col-lg-4">
                <h4>知乎专栏：烂柯小讲堂</h4>
                <a href="https://www.zhihu.com/column/c_1158046349202284544">
                    <img class="wechat-img border" src="static/images/zhihu_lecture.jpg" width=256 height=256>
                </a>
                
            </div>
            <div class="col-lg-4">
                <h4>微信号：烂柯小助手</p>
                <img class="wechat-img border" src="static/images/lanke_assistant.jpg" width=256 height=256>
            </div>
        </div>
    </div>

{% endblock %}
