{% extends "base.html" %}

{% block content %}
    <h1>Vote</h1>
    <h3>Your role is {{ current_user.role }}</h3>
    {% if current_user.role == 'God' %}
    <form action="" method="post" novalidate>
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <p>
            {{ form.game_name.label }}<br>
            {{ form.game_name(size=20) }}<br>
            {% for error in form.game_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% else %}
    <p>Wait for instruction from god</p>
    <form action="" method="post" novalidate>
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
    <p>
        {{ form.seat.label }}<br>
        {{ form.seat(size=2) }}<br>
        {% for error in form.seat.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
{% endblock %}