{% extends "base.html" %}

{% block content %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // Use a "/game" namespace.
            // An application can open a connection on multiple namespaces, and
            // Socket.IO will multiplex all those connections on a single
            // physical channel. If you don't care about multiple channels, you
            // can set the namespace to an empty string.
            namespace = '/game';

            // Connect to the Socket.IO server.
            // The connection URL has the following format, relative to the current page:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io(namespace);

            // Each socketIO request needs to use this in order to
            // select the right room and user
            var request_base = {
                // tricky: use integer instead of str to be consistent with
                // backend
                "user_id": {{ current_user.id }},
                "room": "{{ room.name }}"
            }

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.emit('my_event', {data: 'I\'m connected!'});
            });

            // Join socketio room with the same name as game
            // If the player is not host and not seated, join
            // another room to get seat information
            $(document).ready(function() {
                socket.emit('join', {
                    ...request_base
                });
            })

            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            socket.on('my_response', function(msg, cb) {
                $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
                if (cb)
                    cb();
            });

            socket.on('game_status', function(msg) {
                console.log(msg);
                var players = msg.data.players;
                $('#game-stage-span').text(msg.data.current_stage);
                for(var i = 0; i < players.length; i++) {
                    var row = players[i];
                    var seat = row.seat;
                    $("#player-status-table-name-" + seat).text(row.name);
                    $("#player-status-table-death-" + seat).text(row.death);
                    if (row.death != '存活') {
                        $("#player-status-table-row-" + seat).removeClass('alive-player-row').addClass('dead-player-row');
                    } else {
                        $("#player-status-table-row-" + seat).removeClass('dead-player-row').addClass('alive-player-row');
                    }
                    var sheriff_value = (row.is_sheriff) ? '👮' : '-'
                    $("#player-status-table-sheriff-" + seat).text(sheriff_value);
                }

                {% if current_user.is_host(room.name) %}
                    // kill
                    $('.alive-player-row').each(function() {
                        var seat = $(this).data('seat');
                        var death_btn = $("<input>").addClass('action-death').attr('name', 'submit')
                            .attr('type', 'submit').attr('value', '死亡')
                            .attr('id', "action-death-" + seat).attr('data-seat', seat);
                        $("#player-status-table-action-" + seat).html(death_btn);
                    });
                    $(".action-death").click(function(event) {
                        var seat = parseInt($(this).data('seat'));
                        socket.emit('player_death', {
                            ...request_base,
                            "method": "死亡",
                            "seat": seat
                        });
                        return false;
                    });
                    // revive
                    $('.dead-player-row').each(function() {
                        var seat = $(this).data('seat');
                        var death_btn = $("<input>").addClass('action-revive').attr('name', 'submit')
                            .attr('type', 'submit').attr('value', '复活')
                            .attr('id', "action-revive-" + seat).attr('data-seat', seat);
                        $("#player-status-table-action-" + seat).html(death_btn);
                    });
                    $(".action-revive").click(function(event) {
                        var seat = parseInt($(this).data('seat'));
                        socket.emit('player_death', {
                            ...request_base,
                            "method": "复活",
                            "seat": seat
                        });
                        return false;
                    });
                {% endif %}

            });

            socket.on('characters', function(msg) {
                console.log(msg);
                for(var i = 0; i <  msg.characters.length; i++) {
                    var row =  msg.characters[i];
                    var seat = row.seat;
                    $("#player-status-table-character-" + seat).text(row.character);
                }
            });

            
            socket.on('player_character', function(msg) {
                console.log(msg);
                var seat = $('.your-status-row').data('seat');
                $('#player-status-table-character-' + seat).text(msg.your_character);
                $('#player-character-img').attr('src', msg.character_url);
                $('#player-character-text').text(msg.your_character);
            });

            socket.on('character_status', function(msg) {
                console.log(msg);
                if (msg.locked) {
                    var new_actions = `
                        <form id='sheriff-campaign' method='POST' action='#'>
                            <input id='start-campaign-button' name='submit' type='submit' value='开始警长竞选'>
                            <input id='end-campaign-button' name='submit' type='submit' value='结束警长竞选'>
                        </form>
                    `
                    $("#host-temp-actions").html(new_actions);
                    $("#start-campaign-button").click(function(event) {
                        socket.emit('campaign_setup', {
                            ...request_base,
                            "allow_campaign": true
                        });
                        return false;
                    });
                    $("#end-campaign-button").click(function(event) {
                        socket.emit('campaign_setup', {
                            ...request_base,
                            "allow_campaign": false
                        });
                        return false;
                    });
                } else {
                    // not locked = need to update
                    socket.emit('character_assignment', {
                        ...request_base,
                        'fetch_characters': true
                    });
                }

            })

            // Interval function that tests message latency by sending a "ping"
            // message. The server then responds with a "pong" message and the
            // round trip time is measured.
            var ping_pong_times = [];
            var start_time;
            window.setInterval(function() {
                start_time = (new Date).getTime();
                socket.emit('my_ping');
            }, 3000);

            // Handler for the "pong" message. When the pong is received, the
            // time from the ping is stored, and the average of the last 30
            // samples is average and displayed.
            socket.on('my_pong', function() {
                var latency = (new Date).getTime() - start_time;
                ping_pong_times.push(latency);
                ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
                var sum = 0;
                for (var i = 0; i < ping_pong_times.length; i++)
                    sum += ping_pong_times[i];
                $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
            });

            // Handlers for the different forms in the page.
            // These accept data from the user and send it to the server in a

            // variety of ways
            $('#assign-characters-button').click(function(event) {
                socket.emit('character_assignment', {
                    ...request_base,
                    "assign_characters": true,
                    "fetch_characters": false
                });
                return false;
            });
            $('#lock-characters-button').click(function(event) {
                socket.emit('character_assignment', {
                    ...request_base,
                    "assign_characters": false,
                    "fetch_characters": false
                });
                return false;
            });

            // Round selection
            $('#round-button').click(function(event) {
                socket.emit('round_assignment', {
                    ...request_base,
                    "round_name": $('#round-select').val()
                });
                return false;
            });

            socket.on('game_stage', function(msg) {
                $('#game-stage-span').text(msg.stage);
            });

            // vote open && close
            $('#start-vote-button').click(function(event) {
                socket.emit('vote_setup', {
                    ...request_base,
                    "allow_vote": true
                });
                return false;
            });
            $('#end-vote-button').click(function(event) {
                socket.emit('vote_setup', {
                    ...request_base,
                    "allow_vote": false
                });
                return false;
            });

            socket.on('vote_status', function(msg) {
                console.log(msg)
                if (msg.vote_status) {
                    $('#vote-status-span').text('开启');
                    var player_seat = $('.your-status-row').data('seat');
                    // Filter out those can't vote
                    var is_seated = ((player_seat > 0) && (player_seat <= 12));
                    if (is_seated) {
                        var is_valid_voter = msg.player_vote_status.filter(d => {
                            return d.seat == player_seat;
                        })[0].vote_status;
                    } else {
                        var is_valid_voter = false;
                    }

                    for(var i = 0; i < msg.player_vote_status.length; i++) {
                        var row = msg.player_vote_status[i];
                        var seat = row.seat;
                        $("#player-status-table-votenum-" + seat).html('');

                        // check if this player is a seated player 
                        // audience's seat will be 0 or null
                        // host seat will be undefined
                        var is_candidate = msg.candidates.includes(seat);
                        if (is_valid_voter && is_candidate) {
                            var vote_btn = $("<input>").addClass('action-votefor').attr('name', 'submit')
                                            .attr('type', 'submit').attr('value', '投票')
                                            .attr('id', "action-votefor-" + seat)
                                            .attr('data-votefrom', player_seat).attr('data-votefor', seat);
                            $("#player-status-table-votefor-" + seat).html(vote_btn);
                        } else {
                            // show this to host and audience 
                            if (row.vote_status) {
                                $("#player-status-table-votefor-" + seat).text("可以投票");
                            }
                        }
                    }

                    if (is_valid_voter) {
                        $(".action-votefor").click(function(event) {
                            var votefor = parseInt($(this).data('votefor'));
                            socket.emit('vote_for', {
                                ...request_base,
                                "vote_for": votefor
                            });
                            return false;
                        });
                    }
                } else {
                    $('#vote-status-span').text('关闭');
                    $('#info-box').html('');
                }
            });

            socket.on('vote_success', function(msg) {
                console.log(msg)
                alert("你已成功投票给" + msg.vote_for);
                $('.player-vote-for').html('');
                $('#player-status-table-votefor-' + msg.vote_for).text("已投票")
            })

            socket.on('vote_failure', function(msg) {
                console.log(msg)
                alert(msg.error_message)
            })


            // check vote results
            socket.on('vote_results', function(msg) {
                console.log(msg)
                var vote_info = `
                    <p>得票最多：<span id='span-vote-max'></span></p>
                    <p>投票详情：<p>
                    <div id='vote-for-div'></div>
                `;
                $('#info-box').html(vote_info);
                var max_text = msg.max_votes.map(d => {
                    return d.vote_from + " (" + d.vote_num + "票)";
                }).join(' ');

                $('#span-vote-max').text(max_text);

                var text = '';
                for(var i = 0; i < msg.results.length; i++) {
                    var row = msg.results[i];
                    var seat = row.vote_from;
                    if (msg.votes.hasOwnProperty(seat)) {
                        text += "<p>" + msg.votes[seat]+ " 投给 " + seat + "</p>"
                    }
                    if (row.vote_for === 0) {
                        $("#player-status-table-votefor-" + seat).text("弃票");
                    } else {
                        $("#player-status-table-votefor-" + seat).text(row.vote_for);
                    }
                    $("#player-status-table-votenum-" + seat).text(row.vote_num);
                }
                if (msg.votes[0] != undefined) {
                    text += "<p>" + msg.votes[0] + " 弃票</p>"
                }
                $('#vote-for-div').html(text)

            });

            // player sit down & stand up
            socket.on('available_seats', function(msg) {
                $(".action-td").html('')
                for(var i = 0; i < msg.seats.length; i++) {
                    var seat = msg.seats[i];
                    var sit_btn = $("<input>").addClass('action-sitdown').attr('name', 'submit')
                                    .attr('type', 'submit').attr('value', '坐下')
                                    .attr('id', "action-sitdown-" + seat).attr('data-seat', seat);
                    $("#player-status-table-action-" + seat).html(sit_btn);
                }

                // Bind handler to sit down button
                // NOTE: Need to add here, otherwise the listener
                // will be overwrite
                $(".action-sitdown").click(function(event) {
                    var seat = parseInt($(this).data('seat'));
                    socket.emit('sit_down', {
                        ...request_base,
                        "seat": seat
                    });
                    return false;
                });
            });
            
            socket.on('seated', function(msg) {
                console.log(msg);
                $(".action-td").html('');
                $("#player-seat-span").text(msg.seat);
                $("#player-status-table-row-" + msg.seat).addClass('your-status-row');
            });

            socket.on('campaign_status', function(msg) {
                console.log(msg);
                var seat = $('.your-status-row').data('seat');
                if (msg.campaign_status) {
                    var campaign_btn = $("<input>").addClass('action-campaign').attr('name', 'submit')
                        .attr('type', 'submit').attr('value', '竞选');
                    $('#player-status-table-sheriff-' + seat).html(campaign_btn);
                    $(".action-campaign").click(function(event) {
                        socket.emit('sheriff_campaign', {
                            ...request_base,
                            "campaign": true
                        });
                        return false;
                    });

                    var campaign_info = `
                        <p>警长竞选<p>
                        <p>参选玩家：<span id='span-campaign'></span></p>
                        <p>退选玩家：<span id='span-quit'></span></p>
                        <p>未参选玩家：<span id='span-uncampaign'></p>
                    `;
                    $('#info-box').html(campaign_info);
                } else {
                    $('#player-status-table-sheriff-' + seat).html('')
                    {% if current_user.is_host(room.name) %}
                        var sheriffSelectForm = `
                            <form id="sheriff-assignment" action='#'>
                                <select id='sheriff-select'></select>
                                <input id="sheriff-button" name="submit" type="submit" value="授予警徽">
                            </form>`
                        $('#host-temp-actions').html(sheriffSelectForm);
                        var sheriffOptionsAsString = "<option value='0'>销毁</option>";
                        $('.alive-player-row').each(function() {
                            sheriffOptionsAsString += "<option value='" +  $(this).data('seat') + "'>" +  $(this).data('seat') + "</option>";
                        });
                        $("#sheriff-select").find('option').remove().end().append($(sheriffOptionsAsString));
                        $('#sheriff-button').click(function(event) {
                            socket.emit('sheriff_badge', {
                                ...request_base,
                                'seat': $( "#sheriff-select option:selected" ).val()
                            });
                            return false;
                        })
                    {% endif %}
                }

            })

            socket.on('campaign_registry', function(msg) {
                var seat = $('.your-status-row').data('seat');
                if (seat == msg.seat) {
                    if (msg.success) {
                        alert("你已参与警长竞选")
                        var quit_btn = $("<input>").addClass('action-quit').attr('name', 'submit')
                            .attr('type', 'submit').attr('value', '退选');
                        $('#player-status-table-sheriff-' + seat).html(quit_btn);
                        $(".action-quit").click(function(event) {
                            socket.emit('sheriff_campaign', {
                                ...request_base,
                                "campaign": false
                            });
                            return false;
                        });
                    }
                }
            })

            socket.on('campaign_quit', function(msg) {
                var seat = $('.your-status-row').data('seat');
                if (seat == msg.seat) {
                    if (msg.success) {
                        alert("你已退出警长竞选")
                        $('#player-status-table-sheriff-' + seat).html('-');
                    }
                }
            })

            socket.on('campaign_candidates', function(msg) {
                console.log(msg);
                $('#span-campaign').text(msg.campaign.toString());
                $('#span-quit').text(msg.quit.toString());
                $('#span-uncampaign').text(msg.uncampaign.toString());

            })

            //👮 sheriff handling
            socket.on('badge_status', function(msg){
                if (msg.success) {
                    console.log("警徽交给" + msg.sheriff)
                } else {
                    alert("操作失败，请重试")
                }
            })

            socket.on('death_status', function(msg){
                if (msg.success) {
                    console.log("死亡" + msg.seat)
                    
                } else {
                    alert("操作失败，请重试")
                }
            })

        });
    </script>
    <h1>游戏 {{ room.name }}</h1>
    <h4>当前游戏设置为 {{ room.game.template }}</h4>
    <h4>当前游戏阶段为 <span id='game-stage-span'></span> </h4>
    <h4>当前投票状态为 <span id='vote-status-span'>关闭</span> </h4>
    {% if current_user.is_host(room.name) %}
        <img id="player-character-img" width=128 height=128 src="/static/character_logo/上帝.png">
        <h3>你为本游戏的上帝</h3>
        <div id='host-permenant-actions'>
            <select id="round-select" name="round">
                <option value="警长竞选">警长竞选</option>
                <option value="第1天">第1天</option>
                <option value="第2天">第2天</option>
                <option value="第3天">第3天</option>
                <option value="第4天">第4天</option>
                <option value="第5天">第5天</option>
                <option value="第5天">第6天</option>
            </select>
            <input id="round-button" name="submit" type="submit" value="确认阶段"><br>
            <input id="start-vote-button" name="submit" type="submit" value="开始投票">
            <input id="end-vote-button" name="submit" type="submit" value="结束投票">
        </div>

        <br>
        <div id='host-temp-actions'>
            <form id="character-assignment" action='#'>
                <input id="assign-characters-button" name="submit" type="submit" value="分发身份">
                <input id="lock-characters-button" name="submit" type="submit" value="确认身份">
            </form>
        </div>


    {% else %}
        <h3> 你的座位为 <span id='player-seat-span'></span> </h3>
        <div id='player-character-div'>
            <h4>身份</h4>
            <img id="player-character-img" width=128 height=128>
            <p id="player-character-text"></p>
        </div>
    {% endif %}
    <div id='info-box'>
    </div>
    <br>
    <div id='player-status'>
        <table id='player-status-table'>
        <thead>
            <tr>
                <th>座位</th>
                <th>玩家</th>
                <th>角色</th>
                <th>状态</th>
                <th>警长</th>
                <th>投票</th>
                <th>得票</th>
                <th>动作</th>
            <tr>
        </thead>
        <tbody>
        {% for i in range(1, 13) %}
            <tr class='player-status-table-row' id='player-status-table-row-{{i}}' data-seat={{i}}>
                <td id='player-status-table-seat-{{i}}'>{{i}}</td>
                <td id='player-status-table-name-{{i}}'></td>
                <td id='player-status-table-character-{{i}}'></td>
                <td id='player-status-table-death-{{i}}'></td>
                <td class='sheriff-td' id='player-status-table-sheriff-{{i}}'></td>
                <td id='player-status-table-votefor-{{i}}' class='player-vote-for'></td>
                <td id='player-status-table-votenum-{{i}}'></td>
                <td class='action-td' id='player-status-table-action-{{i}}'></td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
    <p>网络延迟: <b><span id="ping-pong"></span>ms</b></p>
    <div id="log"></div>
{% endblock %}

