{% extends "base.html" %}

{% block content %}
    <h1>Vote</h1>
    <h3>Your role is {{ current_user.role }}</h3>
    <h4>Current game is {{ game.name }}</h4>
    {% if current_user.role == 'Player' %}
    <h4>Your seat is {{ current_user.seat }}</h4>
    <h4>Current vote round is {{ game.current_round }}</h4>
    <form action="" method="post" novalidate>
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <p>
            {{ form.votefor.label }}<br>
            {{ form.votefor(size=2) }}<br>
            {% for error in form.votefor.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% elif current_user.role == 'God' %}
    <form action="" method="post" novalidate>
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <p>
            {{ form.current_round.label }}<br>
            {{ form.current_round }}<br>
            {% for error in form.current_round.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <form action="" method="post" novalidate>
            {{ end_game_form.csrf_token }}
            {{ end_game_form.hidden_tag() }}
            <p>{{ end_game_form.end() }}</p>
        </form>
    {% else %}
    <p>Non-palyer is not allowed to vote</p>
    {% endif %}
{% endblock %}